.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: red;
  bottom: 100px;
}

.back {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-self: center;
}

.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  z-index: 2;
}

.custom-translate-1 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}

.custom-translate-2 {
  transform: translate3d(0px, 0px, 0px) scale3d(0, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.custom-translate-2--hover {
  transform: translate3d(0px, 0px, 0px) scale3d(4.5, 4.5, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}